Core requirements: 
•	Java as your primary programming language.
•	Unit and Integration Testing, TDD or write complete post-hoc tests.
•	Experience with  SQL DBs like PostgreSQL.
•	Experience with Elasticsearch or Spark.
•	Design experience with relational DBs and understanding of concepts like (for example) indexing, query optimization, and normalization/denormalization.
•	Very deep experience designing enterprise java applications with Spring and Spring Boot or Spring MVC. Good understanding of dependency injection/IOC as implemented in Spring containers.
•	Experience with Spring packages like Spring Security, Spring JDBC, Spring Integration, Spring Cloud Dataflow.
•	Experience/familiarity with Docker and containerization concepts.
•	Exposure to devops/cloud deployment (Digital Ocean/AWS/Azure/PCF).
•	Experience with enterprise app development focused on job automation, integration, ETL, enterprise security, on-premise installs (docker etc).
 
 Nice to have:
 •	Java 8+
 •	Elasticsearch & HDFS
 •	Prior experience with enterprise SaaS application design
 •	Experience with complex data transformations and data visualization
  

